#choose-us {

	.choose-us-container {
		@include flex(row, space-between, center);

		.choose-us-box {
			width: 25%;
			@include flex(column, center, center);

			> div:first-child { width: 20% }
		}
	}
}