#city-breaks {
	background: #ddd;

	.city-breaks-wrapper {
		@include flex(row, space-between, center);

		.city-breaks-box {
			position: relative;
			width: 30%;
			overflow: hidden;
			/* Total width - box footer */
			height: calc(365px - 68px);

			.city-breaks-label {
				position: absolute;
				top: 5%;
				left: 0;
				background: rgba($primary-dark, .7);
				color: #ddd;
				padding: .5rem 1rem;
				z-index: 1;
				@include flex(row, space-between, center);

				span:nth-child(2) { font-size: .5rem }
			}

			.city-breaks-image img { height: 220px }

			.city-breaks-info {
				background: $primary-white;
				@include flex(row, space-between, center);
				padding: .7rem;

				div:first-child {

					h3 { margin-bottom: .5rem }

					p {
						font-size: .7rem;
						color: $primary-gray;

						span {
							color: $primary-yellow;
							margin-left: .5rem;
						}
					}
				}

				div:last-child {
					
					p:first-child {
						font-size: .8rem;
						color: $primary-gray;
					}

					p:last-child {
						color: #f36405;
						font-size: 1.5rem;
						font-weight: bold;
					}
				}
			}

			.city-breaks-footer {
				background: #eee;
				padding: 1rem;
				font-size: .85rem;
			}

			.city-breaks-container {
				transition: transform 200ms ease-in-out;
				cursor: pointer;
			}

			&:hover .city-breaks-container { transform: translateY(-68px) }
		}
	}
}