/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  
	#showcase .showcase-container .showcase-info { margin: 19rem 0 6rem }

	#most-visited .most-visited-container {

		.one { grid-row: 1 }
		.four { grid-row: 3 }
		
		.two,
		.three { grid-row: 2 }

		.two,
		.three,
		.five,
		.six { height: 400px }

		.one,
		.four,
		.seven {grid-column: 1 / -1 }

		.two,
		.five { grid-column: 1 / 4 }

		.three,
		.six { grid-column: 4 / -1 }
	}

	#history {
		flex-wrap: wrap;
		
		.history-box { margin: 1.5rem 0 }
	}

	#city-breaks {

		.city-breaks-wrapper .city-breaks-box {
			/* Total width - box footer */
			height: calc(365px - 75px);

			.city-breaks-info div:last-child p:last-child { font-size: 1.2rem }
		}
	}

	.form-container form #tip {
		top: -17%;
		right: -2.2%;

		.tip-info {
			top: -90px;
	
			&::before { bottom: -19px }
		}
	}
}

/* Ipad Pro - Landscape */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) {

	#showcase .showcase-container {
		justify-content: center;

		.slideshow-buttons { top: 40% }
		.showcase-info { margin: 0 0 6rem }
	}
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {

  #showcase .showcase-container {
		justify-content: center;

		.slideshow-buttons {
			@include flex(row, space-between, center);
			bottom: 0;
			top: auto;
			width: 12%;
		}

		.showcase-info { margin: 0 0 6rem }
	}

	#choose-us .choose-us-container {
		flex-wrap: wrap;

		.choose-us-box {
			width: 48%;
			margin: 2rem 0;
		}
	}

	#most-visited .most-visited-container {
		@include flex(column, center, center);

		.most-visited-box {
			width: 100%;
			margin: 1rem 0;
		}
	}

	#history {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		.history-box {
			width: 45%;
			margin: 2rem 0;
			margin-left: 7rem;
			justify-content: flex-start;

			&-image { width: 30% }
		}
	}

	#city-breaks {

		.city-breaks-wrapper {
			flex-direction: column;
			justify-content: center;

			.city-breaks-box {
				/* Total width - box footer */
				height: calc(365px - 75px);
				width: 100%;
				margin: 1rem 0;
	
				.city-breaks-info div:last-child p:last-child { font-size: 1.2rem }
			}
		}
	}
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  #most-visited .most-visited-container {
		@include flex(column, center, center);

		.most-visited-box {
			width: 100%;
			margin: 1rem 0;
		}
	}
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {

	#showcase  {
		height: 120vh;

		.showcase-container {
			justify-content: center;
			padding: 0 1rem;

			.slideshow-buttons {
				@include flex(row, space-between, center);
				bottom: 0;
				top: auto;
				width: 25%;
				right: 30px;
			}

			.showcase-info {
				margin: 0 0 6rem;

				h1 { font-size: 1.2rem }
				h3 { font-size: 1.15rem }
			}
		}
	}

	#choose-us .choose-us-container {
		flex-wrap: wrap;

		.choose-us-box {
			width: 100%;
			margin: 2rem 0;
		}
	}

	#most-visited .most-visited-container {
		@include flex(column, center, center);

		.most-visited-box {
			width: 100%;
			margin: .5rem 0;
		}
	}

	#history {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		.history-box {
			width: 75%;
			margin: 2rem 0;
			justify-content: flex-start;

			&-image { width: 20% }
		}
	}

	#city-breaks {

		.city-breaks-wrapper {
			flex-direction: column;
			justify-content: center;

			.city-breaks-box {
				/* Total width - box footer */
				height: calc(365px - 75px);
				width: 100%;
				margin: 1rem 0;
	
				.city-breaks-info div:last-child p:last-child { font-size: 1.2rem }
			}
		}
	}
}

/** IPHONE X && PIXEL 2XL **/
/* Landscape */
@media only screen and (max-width : 823px) and (max-height : 411px) {

	#showcase { height: 130vh }

	#showcase > div.showcase-container > div.form-container > form:nth-child(2) > div.tip .tip-info::before { right: 20px }
}

/* Portrait */
@media only screen and (min-width: 375px) and (max-width: 411px) and (min-height: 812px) and (max-height: 823px) {
	
	#showcase  { height: 110vh }
	
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {

	#showcase .showcase-container .showcase-info h1,
	#showcase .showcase-container .showcase-info h3 { font-size: 1.5rem }

	#showcase {
		height: 200vh;

		.showcase-container {
			justify-content: center;
	
			.slideshow-buttons {
				@include flex(row, space-between, center);
				bottom: -20px;
				top: auto;
				width: 12%;
			}
	
			.showcase-info { margin: 0 0 6rem }
		}
	}

	#choose-us .choose-us-container {
		flex-wrap: wrap;

		.choose-us-box {
			width: 50%;
			margin: 2rem 0;
		}
	}

	#most-visited .most-visited-container {
		@include flex(column, center, center);

		.most-visited-box {
			width: 100%;
			margin: 1rem 0;
		}
	}

	#history {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		.history-box {
			width: 45%;
			justify-content: flex-start;
			margin: 2rem 0;
			margin-left: 5rem;

			p:first-child { font-size: 1.2rem}
			p:nth-child(2) { font-size: 1rem}
			&-image { width: 20% }
		}
	}

	#city-breaks {

		.city-breaks-wrapper {
			flex-direction: column;
			justify-content: center;

			.city-breaks-box {
				/* Total width - box footer */
				height: calc(365px - 75px);
				width: 100%;
				margin: 1rem 0;
	
				.city-breaks-info div:last-child p:last-child { font-size: 1.2rem }
			}
		}
	}
	
	#showcase > div.showcase-container > div.form-container > form:nth-child(2) > div.tip .tip-info::before { right: 20px }
}

// Iphone SE / Moto / Galaxy S5 - Landscape
@media only screen
	and (min-height: 320px)
	and (max-height: 360px)
	and (min-width: 568px)
	and (max-width: 640px)
	and (orientation: landscape)
{

	#showcase  {
		height: 240vh;

		.showcase-container {

			.slideshow-buttons { bottom: -10px }

			.showcase-info {

				h1 { font-size: 1.2rem }
				h3 { font-size: 1.15rem }
			}
		}
	}
}

// Iphone SE / Moto / Galaxy S5 - Portrait
@media only screen
	and (min-width: 320px)
	and (max-width: 360px)
	and (min-height: 568px)
	and (max-height: 640px)
	and (orientation: portrait)
{

	#showcase  { height: 140vh }

}