#most-visited {
	background: $primary-blue;

	.section-header {
		color: $primary-dark;

		&-logo::before, &-logo::after { background: $primary-dark }
	}

	.most-visited-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		grid-gap: .5rem;
		
		.most-visited-box {
			color: $primary-white;
			@include flex(column, center, center);
			min-height: 250px;
			position: relative;

			.most-visited-image {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				transition: filter 250ms ease-in-out;
			}

			&:hover .most-visited-image { filter: blur(3px) }

			.most-visited-content {
				position: relative;
				z-index: 1;
				opacity: 0;
				transition: opacity 150ms ease-in-out 0s;
				width: 50%;

				h4 { font-size: 1.5rem }

				.top-line,
				.right-line,
				.bottom-line,
				.left-line {
					position: absolute;
					background: $primary-white;
					transition: none;
				}

				.top-line,
				.bottom-line {
					left: 50%;
					transform: scaleX(0) translateX(-50%);
					width: 170%;
					height: 1.2px;
				}

				.top-line {
					top: -20%;
					transform-origin: -50% -50%;
				}

				.bottom-line {
					bottom: -20%;
					left: 50%;
				}

				.left-line,
				.right-line {
					transform: scaleY(0) rotate(90deg);
					height: 2px;
				}

				.left-line { transform-origin: 100% 0% }
				.right-line { transform-origin: 0% 100% }
			}

			&:hover .most-visited-content {
				opacity: 1;
				transition: opacity 250ms ease-in-out 250ms;
			}

			&:hover .most-visited-content .top-line,
			&:hover .most-visited-content .right-line,
			&:hover .most-visited-content .bottom-line,
			&:hover .most-visited-content .left-line { transition: transform 200ms ease-in-out }

			&:hover .most-visited-content .top-line,
			&:hover .most-visited-content .bottom-line { transform: scaleX(1) translateX(-50%) }

			&:hover .most-visited-content .left-line,
			&:hover .most-visited-content .right-line { transform: scaleY(1) rotate(90deg) }

			&:hover .most-visited-content .top-line,
			&:hover .most-visited-content .bottom-line { transition-delay: 500ms }

			&:hover .most-visited-content .right-line,
			&:hover .most-visited-content .left-line { transition-delay: 800ms }
		}

		.one,
		.five,
		.seven {

			.left-line {
				bottom: -45%;
				left: -85%;
			}

			.right-line {
				top: -45%;
				right: -85%;
			}

			.left-line, .right-line { width: 70% }
		 }

		.two,
		.six,
		.four,
		.three { 

			.left-line {
				bottom: -33%;
				left: -135%;
			}

			.right-line {
				right: -135%;
				top: -33%;
			}

			.left-line, .right-line {	width: 115% }
		 }

		.one {
			grid-column: 1 / 4;
			
			.most-visited-image { background: url('../media/barcelona.jpg') no-repeat center/cover }
		}

		.two {
			grid-column: 4 / 6;
			
			.most-visited-image { background: url('../media/roma.jpg') no-repeat center/cover };
		}

		.three {
			grid-column: 6 / -1;
			grid-row: 1 / 3;
			
			.most-visited-image { background: url('../media/maldive.jpg') no-repeat center/cover };
		}

		.four {
			grid-row: 2 / 4;
			grid-column: 1 / 3;
			
			.most-visited-image { background: url('../media/vietnam.jpg') no-repeat center/cover };
		}

		.five {
			grid-column: 3 / 6;
			
			.most-visited-image { background: url('../media/dubai.jpg') no-repeat center/cover };
		}

		.six {
			grid-column: 3 / 5;
			
			.most-visited-image { background: url('../media/taj-mahal.jpg') no-repeat center/cover };
		}

		.seven {
			grid-column: 5 / -1;
			
			.most-visited-image { background: url('../media/austria.jpg') no-repeat center/cover };
		}
	}
}