#most-visited {
	background: $primary-blue;

	.section-header {
		color: $primary-dark;

		&-logo::before, &-logo::after { background: $primary-dark }
	}

	.most-visited-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		grid-gap: .5rem;
		
		.most-visited-box {
			color: $primary-white;
			@include flex(column, center, center);
			min-height: 250px;
			position: relative;
			
			* { cursor: context-menu }

			.most-visited-image {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				transition: filter 250ms ease-in-out;
			}

			&:hover .most-visited-image { filter: blur(3px) }

			.most-visited-content {
				position: relative;
				z-index: 1;
				opacity: 0;
				transition: opacity 150ms ease-in-out 0s;
				width: 50%;

				h4 { font-size: 1.5rem }
			}

			&:hover .most-visited-content {
				opacity: 1;
				transition: opacity 250ms ease-in-out 250ms;
			}
		}

		.one {
			grid-column: 1 / 4;
			
			.most-visited-image { background: url('../media/barcelona.jpg') no-repeat center/cover }
		}

		.two {
			grid-column: 4 / 6;
			
			.most-visited-image { background: url('../media/roma.jpg') no-repeat center/cover };
		}

		.three {
			grid-column: 6 / -1;
			grid-row: 1 / 3;
			
			.most-visited-image { background: url('../media/maldive.jpg') no-repeat center/cover };
		}

		.four {
			grid-row: 2 / 4;
			grid-column: 1 / 3;
			
			.most-visited-image { background: url('../media/vietnam.jpg') no-repeat center/cover };
		}

		.five {
			grid-column: 3 / 6;
			
			.most-visited-image { background: url('../media/dubai.jpg') no-repeat center/cover };
		}

		.six {
			grid-column: 3 / 5;
			
			.most-visited-image { background: url('../media/taj-mahal.jpg') no-repeat center/cover };
		}

		.seven {
			grid-column: 5 / -1;
			
			.most-visited-image { background: url('../media/austria.jpg') no-repeat center/cover };
		}
	}
}