#showcase {
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	.showcase-container,
	.slide,
	.slideshow-image {
		width: 100%;
		height: 100%;
	}

	.showcase-container {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
	}

	.slide {
		@include flex(row, flex-start, flex-start);
		flex-wrap: wrap;
		position: relative;

		.slideshow-image {
			position: absolute;
			top: 0;
			left: 0;
			flex-shrink: 0;
			transition: transform 2s ease-in-out;
		}

		.outer { z-index: -2 }
	}

	.slideshow-buttons {
		position: absolute;
		bottom: 30%;
		right: 1%;
		transform: translateY(-30%);
		@include flex(column, center, center);
		
		button {
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background: lighten($primary-blue, 5%);
			transition: background-color 500ms ease-in-out;

			&:hover, &.slideshow-btn-active { background: lighten($primary-blue, 20%) }
		}
	}
}