#showcase {
	max-width: 100vw;
	height: 100vh;
	overflow: hidden;

	.showcase-container,
	.slide,
	.slideshow-image {
		width: 100%;
		height: 100%;
	}

	.slide {
		@include flex(row, flex-start, flex-start);
		flex-wrap: wrap;
		position: relative;

		.slideshow-image {
			position: absolute;
			top: 0;
			left: 0;
			flex-shrink: 0;
			transition: transform 2s ease-in-out;
		}

		.outer-left { z-index: -1 }
		/** 
			z-index: -2 => Because we have the items in the slideshow array are displayed on top of each other
			So the solution is: ones from the right are on top of the ones from the left, so when the image move to the left,
			the left one should be on the top of the right one.
		**/
		.outer-right { z-index: -2 }
	}

	.showcase-container {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		@include flex(column, center, center);

		.slideshow-buttons {
			position: absolute;
			right: 2%;
			align-self: flex-end;
			transform: translateY(-30%);
			@include flex(column, center, center);
			
			button {
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background: lighten($primary-blue, 5%);
				transition: all 500ms ease-in-out;
	
				&:hover, &.slideshow-btn-active {
					background: lighten($primary-blue, 20%);
					transform: scale(1.3);
				}
			}
		}

		.showcase-info {
			color: $primary-white;
			margin-bottom: 7rem;

			h3 { font-size: 2.2rem }
		}
	
		#checkin-form {
			background: rgba($primary-dark, .7);
			width: 70%;
			border-bottom: 3px solid darken($primary-blue, 10%);
			position: relative;

			> * { opacity: 1 }
			
			.checkin-header {
				position: absolute;
				top: -55%;
				left: 0%;
				@include flex(row, space-between, center);

				a {
					background: darken($primary-blue, 10%);
					padding: 1rem;
					color: $primary-white;
					transition: background-color 150ms ease-in-out;

					&:hover { background: darken($primary-blue, 5%) }

					&.active-checkin { background: rgba($primary-dark, .7) }
				}
			}

			form { @include flex(row, space-between, flex-end) }

			.form-box {
				@include flex(column, flex-start, flex-start);
				margin: 0 .5rem;
	
				::placeholder { color: $primary-blue }

				input:focus { border-color: lighten($primary-blue, 10%) }

				label {
					margin-bottom: .5rem;
					color: $primary-white;
				}

				input {
					padding: .5rem;
					color: $primary-white;
					border: 1.5px solid darken($primary-blue, 10%);
					transition: border-color 500ms ease-in-out;
					width: 100%;

					&#from:hover,
					&#to:hover,
					&#hotel-name:hover,
					&#car-location:hover,
					&#sail-from:hover,
					&#sail-to:hover { cursor: auto }
				}
			}

			button {
				color: $primary-white;
				font-size: 2rem;
			}
		}
	}
}