#showcase {
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	.slide {
		@include flex(row, flex-start, flex-start);
		flex-wrap: wrap;
		width: 100%;
		height: 100%;
		position: relative;

		.slideshow-image {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			flex-shrink: 0;
			transition: transform 2s ease-in-out;
		}
	}	
}