#showcase {
	max-width: 100vw;	
	height: 100vh;

	.showcase-container,
	.slide,
	.slideshow-image {
		width: 100%;
		height: 100%;
	}

	.slide {
		@include flex(row, flex-start, flex-start);
		flex-wrap: wrap;
		position: relative;
		overflow: hidden;

		.slideshow-image {
			position: absolute;
			top: 0;
			left: 0;
			flex-shrink: 0;
			transition: transform 2s ease-in-out;

			img { height: 100% }
		}

		.outer-left { z-index: -1 }
		/** 
			z-index: -2 => Because we have the items in the slideshow array are displayed on top of each other
			So the solution is: ones from the right are on top of the ones from the left, so when the image move to the left,
			the left one should be on the top of the right one.
		**/
		.outer-right { z-index: -2 }
	}

	.showcase-container {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		@include flex(column, flex-start, center);

		.slideshow-buttons {
			position: absolute;
			right: 2%;
			top: 50%;
			transform: translateY(-50%);
			@include flex(column, center, center);
			
			button {
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background: lighten($primary-blue, 5%);
				transition: all 500ms ease-in-out;
				cursor: pointer;
	
				&:hover, &.slideshow-btn-active {
					background: lighten($primary-blue, 20%);
					transform: scale(1.3);
				}
			}
		}

		.showcase-info {
			color: $primary-white;
			margin: 10rem 0 6rem;

			h1 { font-size: 2rem }
			h3 { font-size: 2rem }
		}
	}
}