.form-container {
	background: rgba($primary-dark, .7);
	width: 70%;
	border-bottom: 3px solid darken($primary-blue, 10%);
	position: relative;

	> * { opacity: 1 }
	
	.checkin-header {
		position: absolute;
		top: -55%;
		left: 0%;
		@include flex(row, space-between, center);

		a {
			background: darken($primary-blue, 10%);
			padding: 1rem;
			color: $primary-white;
			transition: background-color 150ms ease-in-out;
			cursor: pointer;

			&:hover { background: darken($primary-blue, 5%) }

			&.active-checkin { background: rgba($primary-dark, .7) }
		}
	}

	form { @include flex(row, space-between, flex-end) }

	.form-box {
		@include flex(column, flex-start, flex-start);
		margin: 0 .5rem;
		position: relative;

		::placeholder { color: $primary-blue }

		input:focus { border-color: lighten($primary-blue, 10%) }

		label {
			margin-bottom: .5rem;
			color: $primary-white;
		}

		input {
			padding: .5rem;
			color: $primary-white;
			border: 1.5px solid darken($primary-blue, 10%);
			transition: border-color 500ms ease-in-out;
			width: 100%;

			&#hotel_checkIn,
			&#hotel_checkOut,
			&#hotel_people { cursor: pointer }
		}
	}

	button {
		color: $primary-white;
		font-size: 2rem;
		cursor: pointer;
	}

	/** Calendar **/
	.checkin-calendar {
		box-shadow: 0 0 10px 5px $primary-dark;
		position: absolute;
		width: 350px;
		bottom: -340px;
		@include flex(column, stretch, stretch);

		.calendar-triangle {
			position: absolute;
			top: -17px;
			left: 40px;
			border-color: transparent transparent darken($primary-blue, 10%) transparent;
			border-width: 0px 12px 17px 12px;
			border-style: solid;
		}

		.calendar-month {
			@include flex(row, center, center);
			padding: .5rem 0;
			background: darken($primary-blue, 10%);
			color: $primary-white;

			p {
				pointer-events: none;
				width: 40%;
			}

			.calendar-arrow {
				font-size: 1.3rem;
				cursor: pointer;
				transition: color 100ms ease-in-out;

				&:hover { color: darken($primary-white, 15%) }
			}
		}

		.table {
			text-align: center;
			background: $primary-white;
			width: 100%;
		}

		.table-head {
			background: darken($primary-blue, 10%);
			color: $primary-white;

			.table-cell {
				border: none;
				transition: none;
			}
		}

		.table-head .table-cell,
		.table-cell.unavailable-day,
		.table-cell.before-current-day,
		.table-cell.passed-day { pointer-events: none }

		.table-cell:hover {
			background: #eee;
			cursor: pointer;
		}

		.table-cell {
			transition: background-color 100ms ease-in-out;
			border: 1px solid #ddd;
			
			&.unavailable-day, &.previous-month-day, &.next-month-day { color: #bbb !important }
			&.weekend-day { color: red }
			&.before-current-day { font-size: .8rem }

			&.current-day, &.checkIn-day, &.checkOut-day {
				background: lighten($primary-blue, 10%);
				color: $primary-white;
				border: none;

				&:hover { background: $primary-blue }
			}
		}

		.table-row {
			@include flex(row, stretch, stretch);

			.table-cell {
				flex: 1;
				height: 40px;
				line-height: 40px;
			}
		}
	}
}