.form-container {
	background: rgba($primary-dark, .7);
	width: 70%;
	
	position: relative;
	color: $primary-dark;

	> * { opacity: 1 }
	
	.checkin-header {
		position: absolute;
		top: -54%;
		left: 0%;
		@include flex(row, space-between, center);

		a {
			background: darken($primary-blue, 10%);
			padding: 1rem;
			color: $primary-white;
			transition: background-color 150ms ease-in-out;
			cursor: pointer;

			&:hover { background: darken($primary-blue, 5%) }

			&.active-form { background: rgba($primary-dark, .7) }
		}
	}

	form {
		@include flex(row, space-between, flex-end);
		position: relative;
		border-bottom: 3px solid darken($primary-blue, 10%);
		transition: border-color 500ms ease-in-out, opacity 1s ease-in-out;

		.regex-alert {
			background: darken($primary-pink, 5%);
			color: $primary-white;
			position: absolute;
			top: 110%;
			left: 0;
			width: 100%;
			border: 2px solid $primary-white;
			z-index: -1;
			padding: 1rem;
		}

		& > button {
			color: $primary-white;
			font-size: 2rem;
			cursor: pointer;
		}
	}

	.form-box {
		@include flex(column, flex-start, flex-start);
		margin: 0 .5rem;
		position: relative;

		::placeholder { color: $primary-blue }

		input:focus { border-color: lighten($primary-blue, 10%) }

		label {
			margin-bottom: .5rem;
			color: $primary-white;
			@include user-select;
		}

		input {
			padding: .5rem;
			color: $primary-white;
			border: 1.5px solid darken($primary-blue, 10%);
			transition: border-color 500ms ease-in-out;
			width: 100%;

			&#hotel-checkin,
			&#hotel-checkout,
			&#hotel-people,
			&#departing-checkin,
			&#returning-checkout,
			&#flight-passengers { cursor: pointer }
		}

		.regex-alert {
			top: 140%;
			width: 140%;
			padding: .5rem;
		}
	}

	/** Calendar **/
	.calendar {
		box-shadow: 0 0 10px 5px $primary-dark;
		position: absolute;
		width: 350px;
		bottom: -340px;
		@include flex(column, stretch, stretch);

		.calendar-triangle {
			position: absolute;
			top: -17px;
			left: 40px;
			border-style: solid;
			border-color: transparent transparent darken($primary-blue, 10%) transparent;
			border-width: 0px 12px 17px 12px;
		}

		.calendar-month {
			@include flex(row, center, center);
			padding: .5rem 0;
			background: darken($primary-blue, 10%);
			color: $primary-white;

			p {
				pointer-events: none;
				width: 40%;
			}

			.calendar-arrow {
				font-size: 1.3rem;
				cursor: pointer;
				transition: color 100ms ease-in-out;

				&:hover { color: darken($primary-white, 15%) }
			}
		}

		.table {
			text-align: center;
			background: $primary-white;
			width: 100%;
		}

		.table-head {
			background: darken($primary-blue, 10%);
			color: $primary-white;

			.table-cell {
				border: none;
				transition: none;
			}
		}

		.table-head .table-cell,
		.table-cell.unavailable-day,
		.table-cell.before-current-day,
		.table-cell.passed-day { pointer-events: none }

		.table-cell:hover {
			background: #eee;
			cursor: pointer;
		}

		.table-cell {
			transition: background-color 100ms ease-in-out;
			border: 1px solid #ddd;
			
			&.unavailable-day, &.previous-month-day, &.next-month-day { color: #bbb !important }
			&.weekend-day { color: red }
			&.before-current-day, &.unavailable-day { font-size: .8rem !important }

			&.current-day, &.checkIn-day, &.checkOut-day, &.selected {
				background: lighten($primary-blue, 10%) !important;
				color: $primary-white !important;

				&:hover { background: $primary-blue !important }
			}
		}

		.table-row {
			@include flex(row, stretch, stretch);

			.table-cell {
				flex: 1;
				height: 40px;
				line-height: 40px;
				font-size: .95rem;
				position: relative;

				span {
					position: absolute;
					pointer-events: none;

					&:first-child {
						top: -5px;
						right: 8px;
					}

					&:nth-child(2),
					&:nth-child(3) {
						font-size: .55rem;
						color: $primary-dark;
					}

					&:nth-child(2) {
						bottom: -12px;
    				left: 6px;
					}

					&:nth-child(3) {
						bottom: -12px;
						right: 5px;
					}
				}
			}
		}
	}

	/** People selection **/
	.people-selection {
		background: $primary-white;
		position: absolute;
		top: 80px;
		left: 0;
		width: 350px;

		&::before {
			content: '';
			position: absolute;
			top: -17px;
			left: 20px;
			border-style: solid;
			border-color: transparent transparent $primary-white transparent;
			border-width: 0px 12px 17px 12px;
		}

		&-box, &-buttons { @include flex(row, space-between, center) }

		&-box {
			border-bottom: 1px solid $primary-blue;
			padding-bottom: .5rem;

			p { font-size: .8rem }

			&:last-child { border: none }
		}

		&-buttons {
			width: 36%;
			
			span { margin: 0 .7rem }
			
			a {
				font-size: .6rem;
				padding: .3rem .8rem;
				@include flex(column, center, center);

				// Better for JS event
				i { pointer-events: none }

				&.people-btn-disabled { background: lighten($primary-blue, 17%) }
			}
		}

		button { width: 100% }

		.people-alert {
			background: $primary-pink;
			color: $primary-white;
		}
	}
}