footer  {
	background: darken($primary-blue, 10%);
	color: $primary-white;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;

	.footer-container {
		@include flex(row, space-between, center);

		.footer-social {
			font-size: 1.3rem;

			a { transition: color 150ms ease-in-out }

			a:hover { color: darken($primary-white, 10%) }
		}
	}
}