/* ----------- iPad Pro ----------- */
/* Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {

	.form-container {
		width: 90%;

		.people-selection {
			left: 50%;
			transform: translateX(-50%);

			&::before {
				top: -16px;
				left: 180px;
			}
		}

		.checkin-header { top: -55.55% }
	}
}

/* Landscape */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {

	#reset-scroll {
		bottom: 25px;
		right: 20px;
		width: 35px;
		height: 35px;
		font-size: 1.5rem;
	}

	.form-container {
		top: -1px;
		width: 90%;

		.people-selection {
			left: 50%;
			transform: translateX(-50%);

			&::before {
				top: -16px;
				left: 180px;
			}
		}

		.checkin-header { top: -53.5% }
	}
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {

	.form-container {

		.people-selection {
			left: 50%;
			transform: translateX(-50%);

			&::before {
				top: -16px;
    		left: 180px;
			}
		}

		.checkin-header { top: -55% }
	}
	
	#reset-scroll {
		bottom: 25px;
		right: 20px;
		width: 35px;
		height: 35px;
		font-size: 1.5rem;
	}

	// #showcase > div.showcase-container > div.form-container > form:nth-child(2) > div.tip .tip-info{
	// 	right: -30px;


	// }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {

	#filters-main-section {

		#filters-container {
			display: block;
			background: $primary-white;
		}

		#filter-items-wrapper {
			width: 100%;

			.filter-item-hotels:nth-child(2) {
				margin-top: 1rem;
			}
		}

		#filters-empty-wrapper .filters-empty-container {
			flex-direction: column;
			align-items: center;
			
			.filters-empty-box {
				width: 90%;
				margin: 1.5rem 0;
	
				&:first-child { margin-top: 0 }
	
				&::before {
					top: -9%;
					left: -3%;
				}
			}
		}
	}

	#show-filters-mobile i { margin-right: .5rem }

	#filter-search-section.mobile-filters {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: rgba(0, 0, 0, .8);
		z-index: 101;

		#close-filters-button {
			color: $primary-white;
			position: absolute;
			top: 15px;
			right: 20px;
			font-size: 2rem;
		}

		#filter-search-flights,
		#filter-search-hotels {
			background: $primary-white;
			width: 30%;
			height: 100%;
			padding: 1rem;
			@include flex(column, center, flex-start);

			.filter-search-box { width: 100% }
		}
	}
  
	#reset-scroll {
		bottom: 25px;
		right: 10px;
		width: 35px;
		height: 35px;
		font-size: 1.5rem;
	}

	.form-container {
		width: 90%;

		.calendar {
			left: -50px;
			
			.calendar-triangle {
				top: -15px;
				left: 100px;
			}
		}

		.people-selection {
			left: 20%;
			transform: translateX(-50%);

			&::before {
				top: -16px;
    		left: 180px;
			}
		}

		.checkin-header { top: -55.55% }
	}

	.section-header {

		.section-header-logo {

			&::before { left: -125px }
			&::after { right: -125px }
		}
	}
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  #filter-search-section.mobile-filters #filter-search-flights, #filter-search-section.mobile-filters #filter-search-hotels {
		justify-content: flex-start;
		overflow-y: scroll;
	}
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {

	header {
		width: 100vw;

		&.header-fixed #logo { width: 8% }
	}
  
  .form-container {
		width: 90%;

		form {
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			> button {
				position: relative;
				top: -4px;
				margin-top: 1rem;
			}

			> .regex-alert {
				top: 102%;
				z-index: 1;
			}

			.tip {
				top: -4%;
				right: -5.2%;

				.tip-info {
					right: 0;

					&::before {
						left: auto;
						transform: none;
						right: 2px;
						bottom: -19px;
					}
				}
			}
		}

		.form-box {
			width: 100%;
			margin: .5rem 0;

			.regex-alert { width: 100% }
		}

		.calendar {
			left: -30px;
			z-index: 2;
			width: 320px;
			
			.calendar-triangle {
				top: -15px;
				left: 140px;
			}
		}

		.people-selection {
			left: 50%;
			transform: translateX(-50%);
			z-index: 2;

			&::before {
				top: -16px;
    		left: 220px;
			}
		}

		.checkin-header { top: -51.2px }
	}

	#filters-showcase {
		height: 100vh;
		padding: 0 1rem;
	}

	#filters-main-section #filters-empty-wrapper .filters-empty-container {
		flex-direction: column;
		align-items: center;
		
		.filters-empty-box {
			width: 90%;
			margin: 1.5rem 0;

			&:first-child { margin-top: 0 }

			&::before {
				top: -9%;
    		left: -3%;
			}
		}
	}

	#filters-main-section {

		#filters-container {
			display: block;
			background: $primary-white;
		}

		#filter-items-wrapper {
			width: 100%;

			.filter-item-hotels:nth-child(2) {
				margin-top: 1rem;
			}
		}
	}

	#filter-search-section.mobile-filters {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: rgba(0, 0, 0, .8);
		z-index: 101;

		#close-filters-button {
			color: $primary-white;
			position: absolute;
			top: 15px;
			right: 20px;
			font-size: 2rem;
		}

		#filter-search-flights,
		#filter-search-hotels {
			background: $primary-white;
			width: 60%;
			height: 100%;
			padding: 1rem;
			@include flex(column, center, flex-start);
			justify-content: flex-start;
			overflow-y: scroll;
		}

		#filter-search-hotels .filter-search-box {
			width: 100%;
			padding: .5rem;

			&:first-child { padding: 0 }
		}
	}
	
	.section-header {
		width: 60%;
		margin: 0 auto 1rem;

		.section-header-logo {
			width: 22%;

			&::before,
			&::after {
				width: 60px;
			}

			&::before { left: -75px }
			&::after { right: -75px }
		}
	}

	#reset-scroll {
		bottom: 25px;
		right: 10px;
		width: 35px;
		height: 35px;
		font-size: 1.5rem;
	}
}

/** IPHONE X && PIXEL 2XL **/
/* Landscape */
@media only screen and (max-width : 823px) and (max-height : 411px) {

	#filters-showcase { min-height: 60vh }

	.form-container .checkin-header { top: -57% }

	#showcase > div.showcase-container > div.form-container > form:nth-child(2) > div.tip {
		top: -20px;
		right: -2%;
		
		.tip-info {
			right: -15px;
			
			&::before {
				left: auto;
				transform: none;
				right: 2px;
			}
		}
	}
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {

	#filters-main-section {

		#filter-items-wrapper {
			width: 100%;

			.filter-item-hotels:nth-child(2) { margin-top: 1rem; }
		}

		#filters-empty-wrapper .filters-empty-container {
			flex-direction: column;
			align-items: center;
			display: block;
			background: $primary-white;
			
			.filters-empty-box {
				width: 100%;
				margin: 1.5rem 0;
	
				&:first-child { margin-top: 0 }
	
				&::before {
					top: -9%;
					left: -3%;
				}
			}
		}
	}

	#filter-search-section.mobile-filters {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: rgba(0, 0, 0, .8);
		z-index: 101;

		#close-filters-button {
			color: $primary-white;
			position: absolute;
			top: 15px;
			right: 20px;
			font-size: 2rem;
		}

		#filter-search-flights,
		#filter-search-hotels {
			background: $primary-white;
			width: 30%;
			height: 100%;
			padding: 1rem;
			@include flex(column, center, flex-start);
			justify-content: flex-start;
			overflow-y: scroll;

			.filter-search-box { width: 100% }
		}
	}

	#reset-scroll {
		bottom: 25px;
		right: 20px;
		width: 35px;
		height: 35px;
		font-size: 1.5rem;
	}

	.form-container {
		width: 90%;

		form {
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			> button {
				position: relative;
				top: -4px;
				margin-top: 1rem;
			}

			> .regex-alert {
				top: 102%;
				z-index: 1;
			}

			.tip {
				top: -20px;
				right: -2%;
				
				.tip-info {
					right: -15px;
					
					&::before {
						left: auto;
						transform: none;
						right: 2px;
					}
				}
			}
		}

		.form-box {
			width: 100%;
			margin: .5rem 0;

			.regex-alert { width: 100% }
		}

		.calendar {
			left: 70px;
			z-index: 2;
			
			.calendar-triangle {
				top: -15px;
				left: 140px;
			}
		}

		.people-selection {
			left: 50%;
			transform: translateX(-50%);
			z-index: 2;

			&::before {
				top: -16px;
    		left: 220px;
			}
		}

		.checkin-header { top: -52px }
	}

	#filters-showcase { height: 180vh }

	.section-header {

		.section-header-logo {

			&::before { left: -125px }
			&::after { right: -125px }
		}
	}
}

/** IPHONE SE / 5 **/
/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {

	.form-container {
		width: 90%;

		form {
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			> button {
				position: relative;
				top: -4px;
				margin-top: 1rem;
			}

			> .regex-alert {
				top: 102%;
				z-index: 1;
			}
		}

		.form-box {
			width: 100%;
			margin: .5rem 0;

			.regex-alert { width: 100% }
		}

		.calendar {
			left: 70px;
			z-index: 2;
			
			.calendar-triangle {
				top: -15px;
				left: 140px;
			}
		}

		.people-selection {
			left: 50%;
			transform: translateX(-50%);
			z-index: 2;

			&::before {
				top: -16px;
    		left: 220px;
			}
		}

		.checkin-header { top: -51.2px }
	}

	#filters-showcase { height: 180vh }

	#filter-search-section.mobile-filters #filter-search-flights,
	#filter-search-section.mobile-filters #filter-search-hotels { width: 40% }

}

/* Portrait */
@media screen and (max-width: 320px) and (max-height: 568px) and (orientation: portrait) {

	.form-container {

		.calendar {
			left: -31px;
			z-index: 2;
			width: 300px;
			
			.calendar-triangle {
				top: -15px;
				left: 140px;
			}
		}

		.people-selection {
			left: 50%;
			transform: translateX(-50%);
			z-index: 2;
			width: 300px;
	
			&::before {
				top: -16px;
				left: 220px;
			}
		}
	}

	.filter-search-box .filter-search-inputs { margin: .2rem 0 }

	#filter-search-flights .filter-search-box {

		&:nth-child(3) .filter-search-container { height: 65px }
	
		&:nth-child(4) .filter-search-container {
			height: 30px;
	
			.filter-search-inputs { @include flex(row, space-between, center) }
		}
	
		&:nth-child(5) .filter-search-container,
		&:last-child .filter-search-container{ height: 130px }
	}

	#filter-search-hotels .filter-search-box {

		&:nth-child(3) .filter-search-container { height: 165px }
		&:nth-child(4) .filter-search-container { height: 130px }

	}
}