header {
	@include flex(row, space-between, center);
	color: $primary-white;
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;

	&,
	#logo,
	#logo span { transition: all 500ms ease-in-out }

	&.header-fixed.remove-transitions { transition: none }
	&.remove-transitions { transition: none }
	
	.active-page { color: $primary-blue }

	#logo {
		width: 4.5%;
		margin-left: 4rem;

		@include flex(row, center, center);

		span {
			margin-left: .5rem;
			font-family: 'Domine', serif;
			font-size: 1.2rem;
		}
	}

	#desktop-navbar {
		@include flex(row, center, center);

		a {
			margin: 0 1rem;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 1px;
			transition: color 200ms ease-in-out;

			&:hover:not(.active-page) { color: lighten($primary-blue, 15%)}
		}
	}

	#mobile-navbar {
		
	}

	&.header-fixed {
		background: darken($primary-blue, 10%);
		padding: .5rem;
		font-size: .85rem;
		position: fixed;

		#logo {
			width: 3%;

			span { font-size: 1.05rem }
		}

		.active-page { color: $primary-dark }
	}
}