.search-loader {
	padding: 3rem 0;
	width: 40%;
	margin: 0 auto;
}

#suspense-big-loader {
	@include flex(column, center, center);
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background: $primary-white;

	img { width: 30% }
}