#filters-main-section {

	#filters-container {
		@include flex(row, space-between, flex-start);
		background: #ddd;
		position: relative;
	}

	aside { background: $primary-white }

	#filter-search-section { width: 20% }

	#filter-items-wrapper { width: 78% }

	#filters-empty-wrapper {

		.filters-empty-container {
			@include flex(row, center, stretch);
			counter-reset: step;

			.filters-empty-box {
				border: 1.5px solid $primary-blue;
				position: relative;
				width: 30%;
				margin: 0 1rem;

				h3 { font-size: 1.2rem }

				.description {
					font-size: .9rem;
					font-style: italic;
				}

				&::before {
					counter-increment: step;
					content: counter(step);
					position: absolute;
					top: -5%;
					left: -3%;
					width: 35px;
					height: 35px;
					@include flex(column, center, center);
					border-radius: 50%;
					background: $primary-blue;
					color: $primary-white;
					font-size: 1.2rem;
				}
			}
		}
	}

	#filter-not-found {
		@include flex(column, center, center);
		
		.not-found-img { width: 35% }
	
		.not-found-info .description { font-style: italic }
	}

	#filter-search-section {

		#filter-search-flights .filter-search-box {

			&:nth-child(3) .filter-search-container { height: 85px }

			&:nth-child(4) .filter-search-container {
				height: 45px;

				.filter-search-inputs { @include flex(row, space-between, center) }
			}

			&:nth-child(5) .filter-search-container { height: 175px }
			&:last-child .filter-search-container { height: 180px }
		}

		#filter-search-hotels .filter-search-box {

			&:nth-child(3) .filter-search-container { height: 220px }
			&:nth-child(4) .filter-search-container { height: 180px }

			&:nth-child(5) .filter-search-container {
				height: 50px;

				.filter-search-inputs { @include flex(row, space-between, center) }
			}
		}

		.filter-search-box {
			padding: 1rem 0;
			border-bottom: 1px solid $primary-blue;
		
			&:last-child, &:first-child {
				border: none;
				padding: none;
			}
		
			.filter-search-container {
				overflow: hidden;
				transition: height 300ms ease-in-out;
		
				&.filter-hidden { height: 0 !important}
			}
		
			.filter-search-inputs { margin: .7rem 0 }
		
			&:first-child .filter-search-header { color: $primary-gray }
		
			&:first-child .filter-search-header,
			&:nth-child(2) .filter-search-header h3 {
				font-weight: 100;
				font-size: 1.2rem;
			}
			
			.filter-search-header {
				@include flex(row, flex-start, center);
		
				a { cursor: pointer }
		
				h3 {
					font-weight: bold;
		
					span {
						font-size: .8rem;
						font-weight: 100;
					}
				}
		
				a[data-reset-filter] {
					font-size: .75rem;
					color: $primary-blue;
					@include user-select;
					
					&:hover { text-decoration: underline }
				}
		
				a:last-child { margin-left: auto}
			}
		
			label {
				@include flex(row, flex-start, center);
				cursor: pointer;
				padding: .3rem 0 .3rem .3rem;
				position: relative;
				@include user-select;
		
				&:not([for="ticket-price"]):hover { background: rgb(240, 240, 240) }

				i {
					color: $primary-yellow;
					margin: 0 .2rem;
				}
		
				input[type="radio"] {
					position: absolute;
					top: 0;
					left: 0;
					width: 0;
					height: 0;
					display: none;
		
					& + span {
						display: inline-block;
						position: relative;
						margin-right: .5rem;
						background: $primary-white;
						border: 1.2px solid $primary-blue;
						width: 20px;
						height: 20px;
						border-radius: 50%;
		
						&::before {
							content: '';
							display: none;
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							background: $primary-blue;
							width: 5px;
							height: 5px;
							border-radius: 50%;
						}
					}
		
					&:checked + span::before { display: block }
				}
		
				input[type="checkbox"] {
					position: absolute;
					opacity: 0;
					cursor: pointer;
					height: 0;
					width: 0;
		
					& + span {
						background: $primary-white;
						border: 1.3px solid $primary-blue;
						width: 20px;
						height: 20px;
						border-radius: $border-radius-primary;
						margin-right: .5rem;
						@include flex(column, center, center);
		
						img {
							width: 60%;
							display: none;
						}
					}
		
					&:checked + span img { display: block }
				}
			}
		
			input[type="range"] {
				-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
				width: 60%; /* Specific width is required for Firefox. */
				background: transparent; /* Otherwise white in Chrome */
		
				&::-webkit-slider-thumb {
					-webkit-appearance: none;
					height: 15px;
					width: 15px;
					border-radius: 50%;
					background: lighten($primary-pink, 10%);
					cursor: pointer;
					transform: translateY(-50%);
				}
		
				/* All the same stuff for Firefox */
				&::-moz-range-thumb {
					height: 15px;
					width: 15px;
					border-radius: 50%;
					background: lighten($primary-pink, 10%);
					cursor: pointer;
					transform: translateY(-50%);
				}
		
				/* All the same stuff for IE */
				&::-ms-thumb {
					height: 15px;
					width: 15px;
					border-radius: 50%;
					background: lighten($primary-pink, 10%);
					cursor: pointer;
					transform: translateY(-50%);
				}
		
				&:focus { outline: none }
				
				&::-ms-track {
					width: 100%;
					cursor: pointer;
				
					/* Hides the slider so custom styles can be added */
					background: transparent; 
					border-color: transparent;
					color: transparent;
				}
		
				&::-webkit-slider-runnable-track {
					width: 100%;
					height: 3px;
					cursor: pointer;
					background: $primary-pink;
					border-radius: $border-radius-primary;
				}
				
				&:focus::-webkit-slider-runnable-track { background: $primary-pink }
				
				&::-moz-range-track {
					width: 100%;
					height: 3px;
					cursor: pointer;
					background: $primary-pink;
					border-radius: $border-radius-primary;
				}
			}
		}
	}
}