// Utilities
@import './sass_assets/utilities/variables';
@import './sass_assets/utilities/mixins_extends';
@import './sass_assets/utilities/utility';

// Global Layout
@import './sass_assets/global_layout/header';
@import './sass_assets/global_layout/footer';

// Home page
@import './sass_assets/home_page/showcase';
@import './sass_assets/home_page/choose_us';
@import './sass_assets/home_page/most_visited';
@import './sass_assets/home_page/history';
@import './sass_assets/home_page/city_breaks';
@import './sass_assets/home_page/checkin_form';

// Contact page
@import './sass_assets/contact_page/contact_us';
@import './sass_assets/contact_page/faq';