// Utilities
@import './sass_assets/utilities/variables';
@import './sass_assets/utilities/mixins_extends';
@import './sass_assets/utilities/utility';

// Global Layout
@import './sass_assets/global_layout/header';
@import './sass_assets/global_layout/footer';
@import './sass_assets/global_layout/checkin_form';
@import './sass_assets/global_layout/search_loader';
@import './sass_assets/global_layout/filter/filters_showcase';
@import './sass_assets/global_layout/filter/filters_mainSection';
@import './sass_assets/global_layout/preloader';
@import './sass_assets/global_layout/reset_scroll';

// Home page
@import './sass_assets/home_page/showcase';
@import './sass_assets/home_page/choose_us';
@import './sass_assets/home_page/most_visited';
@import './sass_assets/home_page/history';
@import './sass_assets/home_page/city_breaks';

// Contact page
@import './sass_assets/contact_page/contact_us';
@import './sass_assets/contact_page/faq';

// Flights page
@import './sass_assets/flights_page/filter_itemsFlights';

// Hotels page
@import './sass_assets/hotels_page/filter_itemsHotels';
@import './sass_assets/hotels_page/hotel_room';

// Not found page
@import './sass_assets/notfound_page/notfound_page';