// Utilities
@import './sass_assets/utilities/variables';
@import './sass_assets/utilities/mixins_extends';
@import './sass_assets/utilities/utility';

// Global Layout
@import './sass_assets/global_layout/header';

// Home page
@import './sass_assets/home_page/showcase';
@import './sass_assets/home_page/choose';
@import './sass_assets/home_page/most_visited';
@import './sass_assets/home_page/history';