#contact-us {
	background: url('../media/contact-showcase.jpg') no-repeat center;
	background-size: 120% 120%;
	color: $primary-white;

	> * {
		position: relative;
		z-index: 1;
	}

	.contact-us-container { @include flex(row, space-between, stretch) }

	.contact-us-info,
	form { width: 50% }

	.contact-us-info {
		@include flex(column, center, flex-start);
		
		ul li {
			@include flex(row, flex-start, center);
			width: 100%;

			span {
				margin-right: .5rem;
				width: 45px;
				height: 45px;
				font-size: 1.2rem;
				background: $primary-white;
				border-radius: 50%;
				color: $primary-blue;
				@include flex(column, center, center);
			}
		}
	}

	form {
		position: relative;

		.form-box {
			@include flex(row, space-between, center);
			position: relative;

			input,
			textarea {
				border-bottom: 1.3px solid $primary-blue;
				transition: border-color 150ms ease-in-out;

				&:focus { border-color: $primary-white }
			}

			::placeholder { color: #aaa }

			input {
				width: 100%;
				padding: .8rem .3rem;
			}
			
			textarea {
				padding: .5rem;
				width: 100%;
				font-size: 1rem;
				font-family: inherit;
			}

			&:first-child {

				div {
					position: relative;
					width: 40%;

					.regex-alert {
						top: 50px;
						left: 0;
						width: 100%;
					}
				}
			}

			&:nth-child(2) .regex-alert {
				width: 100%;
				top: 150px;
			}
		}

		> button {
			width: 100%;

			&.error { background: $primary-pink }
		}
	}
}