/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
	
	#contact-us,
  #faq .faq-container .faq-image { background-size: cover }
	
	#faq .faq-container .faq-content .faq-box .show-info { max-height: 220px }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  
	#contact-us {
		background-size: cover;

		.contact-us-info, form { width: 100% }

		.contact-us-info { align-items: center }

		.contact-us-container { @include flex(column, center, center) }
	}
	
	#faq .faq-container {

		.faq-image {display: none }

		.faq-content {
			width: 100%;

			.faq-box .show-info { max-height: 220px }
		}
	}
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  
  #contact-us {
		background-size: cover;

		.contact-us-info, form { width: 100% }

		.contact-us-info { align-items: center }

		.contact-us-container { @include flex(column, center, center) }
	}
	
	#faq .faq-container {

		.faq-image {display: none }

		.faq-content {
			width: 100%;

			.faq-box .show-info { max-height: 220px }
		}
	}
}