#not-found-page {
	width: 100%;
	height: 80vh;
	@include flex(column, center, center);

	> div {
		position: relative;
		text-align: center;

		> a {
			position: absolute;
			top: -50px;
			left: -270px;

			i { margin-right: 1rem }

			&:hover { color: lighten($primary-dark, 30%) }
		}
	}

	.not-found-image {
		width: 30%;
		@include flex(row, space-between, center);

		img { margin: 0 4rem }
		
		p { font-size: 9rem }
	}
}