#hotel-room {

	#room-showcase {
		background: darken($primary-blue, 35%);
		color: $primary-white;
	}

	#room-preview .room-preview-wrapper {
		@include flex(row, space-between, stretch);

		#room-carousel-wrapper { width: 50% }
		
		#room-carousel-container {
			width: 100%;
			height: 400px;
			@include flex(row, space-between, center);
			position: relative;
			overflow: hidden;
			margin-bottom: .5rem;
				
			.room-carousel-image {
				position: absolute;
				top: 0;
				left: 8.5%;
				flex-shrink: 0;
				width: 80%;
				height: 100%;
				margin: 0 .5rem;
				transition: 
					width 500ms ease-in-out,
					margin 500ms ease-in-out,
					opacity 500ms ease-in-out,
					transform 500ms ease-in-out,
					left 500ms ease-in-out;

				&.left-outer-image,
				&.right-outer-image { opacity: .5 }

				&.left-outer-image { z-index: 2 }

				&.full-image {
					width: 100%;
					margin: 0;
					left: 0;
					z-index: 2;
				}

				&.sliderSmall-image-center {
					opacity: 1;
					cursor: zoom-in;
				}
			}

			#room-carousel-buttons {
				position: relative;
				z-index: 2;
				width: 100%;

				button {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					display: block;
					cursor: pointer;
					padding: 1.5rem 1rem;
					background: rgba($primary-blue, .9);
					transition: all 150ms ease-in-out;

					&:hover { background: rgba($primary-blue, 1) }

					i {
						font-size: 1.1rem;
						position: relative;
						opacity: 1;
					}

					&#decrement-room-image {
						left: 0;
						border-top-right-radius: $border-radius-primary;
						border-bottom-right-radius: $border-radius-primary;
					}

					&#increment-room-image {
						right: 0;
						border-top-left-radius: $border-radius-primary;
						border-bottom-left-radius: $border-radius-primary;
					}
				}
			}

			#room-carousel-counter {
				position: absolute;
				bottom: 3%;
				right: 2%;
				z-index: 2;
				width: 10%;
				background: darken($primary-blue, 10%);
				color: $primary-white;
				border-radius: $border-radius-primary;
				@include user-select;			
			}
		}

		#room-carousel-mini {
			width: 100%;
			height: 70px;
			@include flex(row, space-between, center);
			cursor: pointer;

			.carousel-mini-image {
				width: 50%;
				height: 100%;
				margin: 0 .2rem;
				outline: 3.5px solid transparent;

				&.disabled-image {
					opacity: .5;
					transition: opacity 200ms ease-in-out;
		
					&:hover { opacity: 1 }
				}
	
				&.active-image { outline-color: $primary-blue }
			}
		}
	}
}

.room-showcase-header {

	div {
		@include flex(row, flex-start, center);

		h1 { font-size: 1.5rem }

		.room-feedback i {
			color: $primary-yellow;
			margin: 0 .2rem;
		}
	}
}

.room-showcase-header > p, #room-showcase .container > a {
	color: #bcd5f5;
	font-size: .9rem;
}

#room-showcase .container > a, .carousel-big-header > a {

	&:hover { color: #97afcf }

	i { margin-right: .3rem }
}

#room-carousel-big {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: darken($primary-blue, 50%);
	color: $primary-white;
	z-index: 100;
	
	.carousel-big-container {
		@include flex(column, flex-start, flex-start);
		width: inherit;
		height: inherit;
	}

	.carousel-big-header {
		@include flex(row, space-between, center);
		width: 100%;

		.room-info {
			@include flex(row, space-between, center);

			& > div {

				p:first-child {
					font-size: 1.2rem;
					font-weight: bold;
	
					span {
						font-size: .8rem;
						margin-right: .2rem;
					}
				}

				p:last-child {
					color: #bcd5f5;
					font-size: .9rem;

					span { font-weight: bold }
				}
			}


			& > button {
				font-size: 2rem;
				cursor: pointer;
				transition: color 200ms ease-in-out;
				margin-left: 10rem;
	
				&:hover { color: darken($primary-white, 20%) }
			}
		}
	}

		.carousel-big-wrapper {
		width: 100%;
		height: 100%;
		@include flex(column, flex-start, center);

		.carousel-big-slider {
			width: 70%;
			height: 85%;
			position: relative;
			margin-bottom: .5rem;

			.slider-container {
				overflow: hidden;
				position: relative;
				width: 100%;
				height: 100%;
				@include flex(row, space-between, center);

				.slider-image, .cloned{
					height: 100%;
					width: 100%;
					flex-shrink: 0;
					position: absolute;
					top: 0;
					left: -5.3%;
					/////// CHANGE
					transition: all 350ms ease-in-out;
					margin: 0 3rem;
					
				}
			}

			#carousel-big-buttons {
				position: absolute;
				width: 100%;
				top: 50%;
				transform: translateY(-50%);
				@include flex(row, space-between, center);
				
				button {
					position: relative;
					z-index: 1;
					cursor: pointer;
					color: #ccc;
					font-size: 3rem;
					padding: 0;
					transition: color 200ms ease-in-out;

					&:hover { color: $primary-white }

					&#decrement-carouselBig-image { left: -20% }
					&#increment-carouselBig-image { right: -20% }
				}
			}
		}
	}

	.carousel-big-mini {
		width: 100%;
		height: 80px;
		@include flex(row, center, center);

		.mini-slider-image {
			width: 20%;
			height: 100%;
			margin: 0 1rem;
			cursor: pointer;
			outline: 3px solid transparent;

			&.disabled-image {
				opacity: .6;
				transition: opacity 300ms ease-in-out;
	
				&:hover { opacity: 1 }
			}

			&.active-image { outline-color: $primary-blue }
		}
	}
}

.disabled { pointer-events: none !important}