/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
	
	body {
		font: normal .9rem/1.5 'Roboto', sans-serif;
		padding-bottom: 6rem;
	}

	.section-header { margin: 0 auto 3rem	}
	
	/** Spacing **/
	/* Margins */
	/* Margin All */
	.m-1 { margin: .9rem }
	.m-2 { margin: 1.3rem }
	.m-3 { margin: 1.8rem }

	/* Margin horizontally */
	.mx-1 { margin: 0 .9rem }
	.mx-2 { margin: 0 1.3rem }
	.mx-3 { margin: 0 1.8rem }

	/* Margin vertically */
	.my-1 { margin: .9rem 0 }
	.my-2 { margin: 1.3rem 0 }
	.my-3 { margin: 1.8 0 }

	/* Margin left */
	.ml-1 { margin-left: .9rem }
	.ml-2 { margin-left: 1.3rem }
	.ml-3 { margin-left: 1.8 }

	/* Margin right */
	.mr-1 { margin-right: .9rem }
	.mr-2 { margin-right: 1.3rem }
	.mr-3 { margin-right: 1.8 }

	/* Margin top */
	.mt-1 { margin-top: .9rem }
	.mt-2 { margin-top: 1.3rem }
	.mt-3 { margin-top: 1.8 }

	/* Margin bottom */
	.mb-1 { margin-bottom: .9rem }
	.mb-2 { margin-bottom: 1.3rem }
	.mb-3 { margin-bottom: 1.8 }

	/* Paddings */
	/* Padding All */
	.p-1 { padding: .9rem }
	.p-2 { padding: 1.3rem }
	.p-3 { padding: 1.8 }

	/* Padding horizontally */
	.px-1 { padding: 0 .9rem }
	.px-2 { padding: 0 1.3rem }
	.px-3 { padding: 0 1.8 }

	/* Padding vertically */
	.py-1 { padding: .9rem 0 }
	.py-2 { padding: 1.3rem 0 }
	.py-3 { padding: 1.8 0 }

	/* Padding left */
	.pl-1 { padding-left: .9rem }
	.pl-2 { padding-left: 1.3rem }
	.pl-3 { padding-left: 1.8 }

	/* Padding right */
	.pr-1 { padding-right: .9rem }
	.pr-2 { padding-right: 1.3rem }
	.pr-3 { padding-right: 1.8 }

	/* Padding top */
	.pt-1 { padding-top: .9rem }
	.pt-2 { padding-top: 1.3rem }
	.pt-3 { padding-top: 1.8 }

	/* Padding bottom */
	.pb-1 { padding-bottom: .9rem }
	.pb-2 { padding-bottom: 1.3rem }
	.pb-3 { padding-bottom: 1.8 }

	.heading-1 { font-size: 1.8rem }
	.heading-2 { font-size: 2.3rem }
	.heading-3 { font-size: 2.8rem }

	.header-spacing { padding-top: 2.5rem }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  body {
		font: normal .9rem/1.5 'Roboto', sans-serif;
		padding-bottom: 6rem;
	}

	.section-header { margin: 0 auto 3rem	}
	
	/** Spacing **/
	/* Margins */
	/* Margin All */
	.m-1 { margin: .9rem }
	.m-2 { margin: 1.3rem }
	.m-3 { margin: 1.8rem }

	/* Margin horizontally */
	.mx-1 { margin: 0 .9rem }
	.mx-2 { margin: 0 1.3rem }
	.mx-3 { margin: 0 1.8rem }

	/* Margin vertically */
	.my-1 { margin: .9rem 0 }
	.my-2 { margin: 1.3rem 0 }
	.my-3 { margin: 1.8 0 }

	/* Margin left */
	.ml-1 { margin-left: .9rem }
	.ml-2 { margin-left: 1.3rem }
	.ml-3 { margin-left: 1.8 }

	/* Margin right */
	.mr-1 { margin-right: .9rem }
	.mr-2 { margin-right: 1.3rem }
	.mr-3 { margin-right: 1.8 }

	/* Margin top */
	.mt-1 { margin-top: .9rem }
	.mt-2 { margin-top: 1.3rem }
	.mt-3 { margin-top: 1.8 }

	/* Margin bottom */
	.mb-1 { margin-bottom: .9rem }
	.mb-2 { margin-bottom: 1.3rem }
	.mb-3 { margin-bottom: 1.8 }

	/* Paddings */
	/* Padding All */
	.p-1 { padding: .9rem }
	.p-2 { padding: 1.3rem }
	.p-3 { padding: 1.8 }

	/* Padding horizontally */
	.px-1 { padding: 0 .9rem }
	.px-2 { padding: 0 1.3rem }
	.px-3 { padding: 0 1.8 }

	/* Padding vertically */
	.py-1 { padding: .9rem 0 }
	.py-2 { padding: 1.3rem 0 }
	.py-3 { padding: 1.8 0 }

	/* Padding left */
	.pl-1 { padding-left: .9rem }
	.pl-2 { padding-left: 1.3rem }
	.pl-3 { padding-left: 1.8 }

	/* Padding right */
	.pr-1 { padding-right: .9rem }
	.pr-2 { padding-right: 1.3rem }
	.pr-3 { padding-right: 1.8 }

	/* Padding top */
	.pt-1 { padding-top: .9rem }
	.pt-2 { padding-top: 1.3rem }
	.pt-3 { padding-top: 1.8 }

	/* Padding bottom */
	.pb-1 { padding-bottom: .9rem }
	.pb-2 { padding-bottom: 1.3rem }
	.pb-3 { padding-bottom: 1.8 }

	.heading-1 { font-size: 1.8rem }
	.heading-2 { font-size: 2.3rem }
	.heading-3 { font-size: 2.8rem }

	.header-spacing { padding-top: 2.5rem }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  //CSS
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  //CSS
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  //CSS
  
}