/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
	
	body {
		font: normal .9rem/1.5 'Roboto', sans-serif;
		padding-bottom: 6rem;
	}

	.section-header { margin: 0 auto 3rem	}
	
	/** Spacing **/
	/* Margins */
	/* Margin All */
	.m-1 { margin: .9rem }
	.m-2 { margin: 1.3rem }
	.m-3 { margin: 1.8rem }

	/* Margin horizontally */
	.mx-1 { margin: 0 .9rem }
	.mx-2 { margin: 0 1.3rem }
	.mx-3 { margin: 0 1.8rem }

	/* Margin vertically */
	.my-1 { margin: .9rem 0 }
	.my-2 { margin: 1.3rem 0 }
	.my-3 { margin: 1.8 0 }

	/* Margin left */
	.ml-1 { margin-left: .9rem }
	.ml-2 { margin-left: 1.3rem }
	.ml-3 { margin-left: 1.8 }

	/* Margin right */
	.mr-1 { margin-right: .9rem }
	.mr-2 { margin-right: 1.3rem }
	.mr-3 { margin-right: 1.8 }

	/* Margin top */
	.mt-1 { margin-top: .9rem }
	.mt-2 { margin-top: 1.3rem }
	.mt-3 { margin-top: 1.8 }

	/* Margin bottom */
	.mb-1 { margin-bottom: .9rem }
	.mb-2 { margin-bottom: 1.3rem }
	.mb-3 { margin-bottom: 1.8 }

	/* Paddings */
	/* Padding All */
	.p-1 { padding: .9rem }
	.p-2 { padding: 1.3rem }
	.p-3 { padding: 1.8 }

	/* Padding horizontally */
	.px-1 { padding: 0 .9rem }
	.px-2 { padding: 0 1.3rem }
	.px-3 { padding: 0 1.8 }

	/* Padding vertically */
	.py-1 { padding: .9rem 0 }
	.py-2 { padding: 1.3rem 0 }
	.py-3 { padding: 1.8 0 }

	/* Padding left */
	.pl-1 { padding-left: .9rem }
	.pl-2 { padding-left: 1.3rem }
	.pl-3 { padding-left: 1.8 }

	/* Padding right */
	.pr-1 { padding-right: .9rem }
	.pr-2 { padding-right: 1.3rem }
	.pr-3 { padding-right: 1.8 }

	/* Padding top */
	.pt-1 { padding-top: .9rem }
	.pt-2 { padding-top: 1.3rem }
	.pt-3 { padding-top: 1.8 }

	/* Padding bottom */
	.pb-1 { padding-bottom: .9rem }
	.pb-2 { padding-bottom: 1.3rem }
	.pb-3 { padding-bottom: 1.8 }

	.heading-1 { font-size: 1.8rem }
	.heading-2 { font-size: 2.3rem }
	.heading-3 { font-size: 2.8rem }

	.header-spacing { padding-top: 2.5rem }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  
  body {
		font: normal .9rem/1.5 'Roboto', sans-serif;
		padding-bottom: 6rem;
	}

	.section-header { margin: 0 auto 3rem	}
	
	/** Spacing **/
	/* Margins */
	/* Margin All */
	.m-1 { margin: .9rem }
	.m-2 { margin: 1.3rem }
	.m-3 { margin: 1.8rem }

	/* Margin horizontally */
	.mx-1 { margin: 0 .9rem }
	.mx-2 { margin: 0 1.3rem }
	.mx-3 { margin: 0 1.8rem }

	/* Margin vertically */
	.my-1 { margin: .9rem 0 }
	.my-2 { margin: 1.3rem 0 }
	.my-3 { margin: 1.8 0 }

	/* Margin left */
	.ml-1 { margin-left: .9rem }
	.ml-2 { margin-left: 1.3rem }
	.ml-3 { margin-left: 1.8 }

	/* Margin right */
	.mr-1 { margin-right: .9rem }
	.mr-2 { margin-right: 1.3rem }
	.mr-3 { margin-right: 1.8 }

	/* Margin top */
	.mt-1 { margin-top: .9rem }
	.mt-2 { margin-top: 1.3rem }
	.mt-3 { margin-top: 1.8 }

	/* Margin bottom */
	.mb-1 { margin-bottom: .9rem }
	.mb-2 { margin-bottom: 1.3rem }
	.mb-3 { margin-bottom: 1.8 }

	/* Paddings */
	/* Padding All */
	.p-1 { padding: .9rem }
	.p-2 { padding: 1.3rem }
	.p-3 { padding: 1.8 }

	/* Padding horizontally */
	.px-1 { padding: 0 .9rem }
	.px-2 { padding: 0 1.3rem }
	.px-3 { padding: 0 1.8 }

	/* Padding vertically */
	.py-1 { padding: .9rem 0 }
	.py-2 { padding: 1.3rem 0 }
	.py-3 { padding: 1.8 0 }

	/* Padding left */
	.pl-1 { padding-left: .9rem }
	.pl-2 { padding-left: 1.3rem }
	.pl-3 { padding-left: 1.8 }

	/* Padding right */
	.pr-1 { padding-right: .9rem }
	.pr-2 { padding-right: 1.3rem }
	.pr-3 { padding-right: 1.8 }

	/* Padding top */
	.pt-1 { padding-top: .9rem }
	.pt-2 { padding-top: 1.3rem }
	.pt-3 { padding-top: 1.8 }

	/* Padding bottom */
	.pb-1 { padding-bottom: .9rem }
	.pb-2 { padding-bottom: 1.3rem }
	.pb-3 { padding-bottom: 1.8 }

	.heading-1 { font-size: 1.8rem }
	.heading-2 { font-size: 2.3rem }
	.heading-3 { font-size: 2.8rem }

	.header-spacing { padding-top: 2.5rem }
  
}

// IPHONE X && PIXEL 2XL (landscape)
@media only screen 
    and (max-width : 823px) 
    and (max-height : 411px) {

	body {
		font: normal .8rem/1.5 'Roboto', sans-serif;
		padding-bottom: 4.5rem;
	}

	.section-header { margin: 0 auto 3rem	}
	
	/** Spacing **/
	/* Margins */
	/* Margin All */
	.m-1 { margin: .8rem }
	.m-2 { margin: 1.1rem }
	.m-3 { margin: 1.5rem }

	/* Margin horizontally */
	.mx-1 { margin: 0 .8rem }
	.mx-2 { margin: 0 1.1rem }
	.mx-3 { margin: 0 1.5rem }

	/* Margin vertically */
	.my-1 { margin: .8rem 0 }
	.my-2 { margin: 1.1rem 0 }
	.my-3 { margin: 1.5rem 0 }

	/* Margin left */
	.ml-1 { margin-left: .8rem }
	.ml-2 { margin-left: 1.1rem }
	.ml-3 { margin-left: 1.5rem }

	/* Margin right */
	.mr-1 { margin-right: .8rem }
	.mr-2 { margin-right: 1.1rem }
	.mr-3 { margin-right: 1.5rem }

	/* Margin top */
	.mt-1 { margin-top: .8rem }
	.mt-2 { margin-top: 1.1rem }
	.mt-3 { margin-top: 1.5rem }

	/* Margin bottom */
	.mb-1 { margin-bottom: .8rem }
	.mb-2 { margin-bottom: 1.1rem }
	.mb-3 { margin-bottom: 1.5rem }

	/* Paddings */
	/* Padding All */
	.p-1 { padding: .8rem }
	.p-2 { padding: 1.1rem }
	.p-3 { padding: 1.5rem }

	/* Padding horizontally */
	.px-1 { padding: 0 .8rem }
	.px-2 { padding: 0 1.1rem }
	.px-3 { padding: 0 1.5rem }

	/* Padding vertically */
	.py-1 { padding: .8rem 0 }
	.py-2 { padding: 1.1rem 0 }
	.py-3 { padding: 1.5rem 0 }

	/* Padding left */
	.pl-1 { padding-left: .8rem }
	.pl-2 { padding-left: 1.1rem }
	.pl-3 { padding-left: 1.5rem }

	/* Padding right */
	.pr-1 { padding-right: .8rem }
	.pr-2 { padding-right: 1.1rem }
	.pr-3 { padding-right: 1.5rem }

	/* Padding top */
	.pt-1 { padding-top: .8rem }
	.pt-2 { padding-top: 1.1rem }
	.pt-3 { padding-top: 1.5rem }

	/* Padding bottom */
	.pb-1 { padding-bottom: .8rem }
	.pb-2 { padding-bottom: 1.1rem }
	.pb-3 { padding-bottom: 1.5rem }

	.heading-1 { font-size: 1.5rem }
	.heading-2 { font-size: 2rem }
	.heading-3 { font-size: 2.5rem }

	.header-spacing { padding-top: 2.5rem }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
	
	body {
		font: normal .85rem/1.5 'Roboto', sans-serif;
		padding-bottom: 4.5rem;
	}

	.section-header { margin: 0 auto 3rem	}
	
	/** Spacing **/
	/* Margins */
	/* Margin All */
	.m-1 { margin: .8rem }
	.m-2 { margin: 1.1rem }
	.m-3 { margin: 1.5rem }

	/* Margin horizontally */
	.mx-1 { margin: 0 .8rem }
	.mx-2 { margin: 0 1.1rem }
	.mx-3 { margin: 0 1.5rem }

	/* Margin vertically */
	.my-1 { margin: .8rem 0 }
	.my-2 { margin: 1.1rem 0 }
	.my-3 { margin: 1.5rem 0 }

	/* Margin left */
	.ml-1 { margin-left: .8rem }
	.ml-2 { margin-left: 1.1rem }
	.ml-3 { margin-left: 1.5rem }

	/* Margin right */
	.mr-1 { margin-right: .8rem }
	.mr-2 { margin-right: 1.1rem }
	.mr-3 { margin-right: 1.5rem }

	/* Margin top */
	.mt-1 { margin-top: .8rem }
	.mt-2 { margin-top: 1.1rem }
	.mt-3 { margin-top: 1.5rem }

	/* Margin bottom */
	.mb-1 { margin-bottom: .8rem }
	.mb-2 { margin-bottom: 1.1rem }
	.mb-3 { margin-bottom: 1.5rem }

	/* Paddings */
	/* Padding All */
	.p-1 { padding: .8rem }
	.p-2 { padding: 1.1rem }
	.p-3 { padding: 1.5rem }

	/* Padding horizontally */
	.px-1 { padding: 0 .8rem }
	.px-2 { padding: 0 1.1rem }
	.px-3 { padding: 0 1.5rem }

	/* Padding vertically */
	.py-1 { padding: .8rem 0 }
	.py-2 { padding: 1.1rem 0 }
	.py-3 { padding: 1.5rem 0 }

	/* Padding left */
	.pl-1 { padding-left: .8rem }
	.pl-2 { padding-left: 1.1rem }
	.pl-3 { padding-left: 1.5rem }

	/* Padding right */
	.pr-1 { padding-right: .8rem }
	.pr-2 { padding-right: 1.1rem }
	.pr-3 { padding-right: 1.5rem }

	/* Padding top */
	.pt-1 { padding-top: .8rem }
	.pt-2 { padding-top: 1.1rem }
	.pt-3 { padding-top: 1.5rem }

	/* Padding bottom */
	.pb-1 { padding-bottom: .8rem }
	.pb-2 { padding-bottom: 1.1rem }
	.pb-3 { padding-bottom: 1.5rem }

	.heading-1 { font-size: 1.2rem }
	.heading-2 { font-size: 1.8rem }
	.heading-3 { font-size: 2.3rem }

	.header-spacing { padding-top: 2.5rem }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  
  body {
		font: normal .8rem/1.5 'Roboto', sans-serif;
		padding-bottom: 4rem;
	}

	.section-header { margin: 0 auto 3rem	}
	
	/** Spacing **/
	/* Margins */
	/* Margin All */
	.m-1 { margin: .75rem }
	.m-2 { margin: .9rem }
	.m-3 { margin: 1.2rem }

	/* Margin horizontally */
	.mx-1 { margin: 0 .75rem }
	.mx-2 { margin: 0 .9rem }
	.mx-3 { margin: 0 1.2rem }

	/* Margin vertically */
	.my-1 { margin: .75rem 0 }
	.my-2 { margin: .9rem 0 }
	.my-3 { margin: 1.2rem 0 }

	/* Margin left */
	.ml-1 { margin-left: .75rem }
	.ml-2 { margin-left: .9rem }
	.ml-3 { margin-left: 1.2rem }

	/* Margin right */
	.mr-1 { margin-right: .75rem }
	.mr-2 { margin-right: .9rem }
	.mr-3 { margin-right: 1.2rem }

	/* Margin top */
	.mt-1 { margin-top: .75rem }
	.mt-2 { margin-top: .9rem }
	.mt-3 { margin-top: 1.2rem }

	/* Margin bottom */
	.mb-1 { margin-bottom: .75rem }
	.mb-2 { margin-bottom: .9rem }
	.mb-3 { margin-bottom: 1.2rem }

	/* Paddings */
	/* Padding All */
	.p-1 { padding: .75rem }
	.p-2 { padding: .9rem }
	.p-3 { padding: 1.2rem }

	/* Padding horizontally */
	.px-1 { padding: 0 .75rem }
	.px-2 { padding: 0 .9rem }
	.px-3 { padding: 0 1.2rem }

	/* Padding vertically */
	.py-1 { padding: .75rem 0 }
	.py-2 { padding: .9rem 0 }
	.py-3 { padding: 1.2rem 0 }

	/* Padding left */
	.pl-1 { padding-left: .75rem }
	.pl-2 { padding-left: .9rem }
	.pl-3 { padding-left: 1.2rem }

	/* Padding right */
	.pr-1 { padding-right: .75rem }
	.pr-2 { padding-right: .9rem }
	.pr-3 { padding-right: 1.2rem }

	/* Padding top */
	.pt-1 { padding-top: .75rem }
	.pt-2 { padding-top: .9rem }
	.pt-3 { padding-top: 1.2rem }

	/* Padding bottom */
	.pb-1 { padding-bottom: .75rem }
	.pb-2 { padding-bottom: .9rem }
	.pb-3 { padding-bottom: 1.2rem }

	.heading-1 { font-size: 1.2rem }
	.heading-2 { font-size: 1.6rem }
	.heading-3 { font-size: 2rem }

	.header-spacing { padding-top: 2.5rem }
}

/* Iphone SE */
/* Portrait */
@media screen and (max-width: 320px) and (max-height: 568px) and (orientation: portrait) {

	body { padding-bottom: 6rem }

}