$primary-dark: #333;
$primary-blue: #64a5f8;
$primary-white: #fff;
$primary-gray: #A8A8A8;
$primary-yellow: #f6b300;
$primary-pink: #e2076a;

$footer-height: 95.2px;
$header-height: 61px;

$border-radius-primary: 5px;