// Colors
$primary-dark: #333;
$primary-blue: #4f93ea;
$primary-white: #fff;
$primary-gray: #585858;
$primary-yellow: #f6b300;
$primary-pink: #e2076a;
$primary-green: #14E77F;

// Spacing
$footer-height: 95.2px;
$header-height: 61px;

$border-radius-primary: 5px;